html {
  font-size: 14px;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* Para pantallas más pequeñas que 576 píxeles */
@media (max-width: 768px) {
    #elementMobile {
        display: block;
    }

    #elementPC {
        display: none;
    }

    .input-container {
        width: 100%;
        margin-bottom: 0.8rem;
    }

    .button-container {
        width: 100%;
    }

    .aux2 {
        margin-top: 0 !important;
    }
}


@media (min-width: 768px) {
    #elementPC {
        display: block;
    }

    #elementMobile {
        display: none;
    }
    html {
        font-size: 16px;
    }

    .aux2 {
        margin-top: 10px;
    }

    .input-container {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        padding-right: 0.5rem;
    }

    .button-container {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
        padding-left: 0.5rem;
    }
}

